* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color: hsl(283, 100%, 13%);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 7rem; 
    justify-content: center; 
    width: 100%;
    margin: 10px 0px;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav #toggle,
nav label {
    display: none;
} */

/* ................................................ */

nav{
    width: 100%;
    height: 10vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
  }
  nav #logo{
      /* border: 2px solid red; */
      width: 40%;
      display: flex;
      align-items: center;
  }
  #logo img{
      width:50px ;
      border-radius: 20%;
  }
  #logo h2{
      margin-left: 20px;
      /* border: 2px  solid red; */
  }
  ul{
      width: 60%;
      /* border: 2px solid orchid; */
      display: flex;
      justify-content: space-around;
      
  }
  ul a{
      text-decoration: none;
      font-weight: 600;
      color: black;
      font-size: 17px;
      
  }
  a:hover{
      color: red;
  }
  ul li {
      display: inline;
  }

  #menubar-div{
    /* width: 10%; */
    display: none;
}
#menubar-div .lab-div{
    width: 28px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    color: black;
}
#check-menu{
    display: none;
}

#menubar-div{
    /* width: 10%; */
    display: none;
}
#menubar-div .lab-div{
    width: 28px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    color: black;
}
#check-menu{
    display: none;
}

/*.................. main............................ */

main{
    width:100% ; 
    /* border: 5px solid green; */
    position: relative;
    height: 100vh;
}

main #img-div{
    background-image: url("imgs/13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}

main #info-div{
    /* border: 2px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding-top: 200px; 
    padding-left: 200px;
}
#info-div h1{
    /* border: 2px solid orange; */
    display: inline-block;
    font-weight: 900;
    font-size: 35px;
    width: 250px;
    /* color: white; */
}
#info-div .red{
    color: red;
}
#info-div p{
    /* border: 2px solid green; */
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 22px;
    color: white;
}
#info-div .btnn{
    background-color: rgb(0, 255, 255);
    text-decoration: none;
    margin-top: 20px;
    padding: 12px;
    margin-right: 40px;
    color: aliceblue;
    font-weight: 800;
    font-size: 18px;
    /* border: 2px solid green; */
}
#info-div .btnn:hover{
    border-radius: 20px;
}

.animatedtext
{
    background: linear-gradient(200deg,#000,#da2121,#000000);
    letter-spacing: 2px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 2s linear infinite;
    position: relative;
    /* font-size: 52px; */
    }
@keyframes shine
{
    0%
    {
    background-position-x: -500%;
    }
    50%
    {
    background-position-x: -300%;
    }
    100%
    {
    background-position-x: 500%;
    }
}
/* ..........main end............................ */
  







/* ........................................ */
.cards .card
{
    background-color: rgb(168, 222, 219);
}

.cardbtn{
    width: 50%;
    height: auto;
    background-color: green;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 2px;
    padding-bottom: 5px;
    text-decoration: none;
    border-radius: 2rem;
}

.gallery-item
{
    overflow: hidden;
}
  .gallery-item img
  {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .gallery-item img:hover
  {
    transform: scale(1.1);
  }

  .footer
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color: hsl(283, 100%, 13%);
    color: white;
    padding: 1.2rem 1.5rem;
    border-radius: 0.4rem;
  }

@media (max-width: 768px) {
    /* nav {
        flex-direction: column;
    }

    nav .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: center; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }

    nav label {
        display: inline-block;
        color: white;
        cursor: pointer;
    } */

    /* ............................... */

    nav #logo{
        width: 80%;
        /* border: 2px solid red; */
    }
    #logo h2{
        font-size: 20px;
    }
    #menubar-div{
        display: block;
        margin-right: 20px;
        /* width: 20%; */
    }
    #menubar-div #check-menu{
        display: none;
    }
    ul{
        left: -1000px;
        position: absolute;
        top: 10vh;
        background-color: black;
        display: block;
        width: 100%;
        text-align: center;
        z-index: 1;
        height: 100vh;
        transition: all 2s 0s linear ;
        
    }
    ul li{
        color: white;
        display: block;
        /* margin-bottom: 60px;
        margin-top: 10px; */
        margin: 20px auto 60px auto;
    }
    ul li a{
        color: white;
    }
    #check-menu:checked+ul{
       left: 0px;
    }

    /* ...................main........... */
    #info-div h1{
        font-size: 25px;
    }
    #info-div p{
        font-size: 20px;
    }
    main #info-div{
        /* padding: 0px; */
        padding-top: 150px; 
        padding-left: 80px;
    }
    #info-div .btnn{
        margin-right: 10px;
    }
    /*.............. main end............... */

    /* #toggle:checked ~ .menu {
        height: 100%;
    } */
}
@media screen and (max-width:320px) {
    main #info-div{
        padding-left: 50px;
    }
    
}
